/database
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/config
/bootstrap
/app/Console
/app/Exceptions
/app/Http/Controllers/Auth
/app/Http/Middleware
/app/Providers
/resources/assets/js
/resources/lang
/storage
/tests
artisan
.htaccess
robots.txt
api.php
channels.php
console.php
composer.*
favicon.ico
Kernel.php
phpunit.xml
server.php
settings.json
User.php
webpack.mix.*
*.config
.env.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
mix-manifest.json


