/database/factories
/database/.gitignore
/database/seeds
/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/vendor
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/config
/bootstrap
/app/Console
/app/Exceptions
/app/Http/Controllers/Auth
/app/Http/Middleware
/resources/views/auth
/resources/assets/js
/resources/lang
/storage
/tests
AuthServiceProvider.php
BroadcastServiceProvider.php
EventServiceProvider.php
RouteServiceProvider.php
artisan
.htaccess
robots.txt
api.php
channels.php
console.php
composer.*
favicon.ico
Kernel.php
phpunit.xml
server.php
settings.json
User.php
webpack.mix.*
*.config
.env.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
mix-manifest.json


